<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>KickChat | Contact Us</title>

  <!-- Bootstrap core CSS -->
  <link nonce="<%= nounce %>" href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link nonce="<%= nounce %>" href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link nonce="<%= nounce %>" href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic'
    rel='stylesheet' type='text/css'>
  <link nonce="<%= nounce %>"
    href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
    rel='stylesheet' type='text/css'>

  <!-- Custom styles for this template -->
  <link nonce="<%= nounce %>" href="/css/clean-blog.css" rel="stylesheet">
  <link nonce="<%= nounce %>" href="/css/text.css" rel="stylesheet">

  <link nonce="<%= nounce %>" rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand" href="/">KickChat</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
        data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
        aria-label="Toggle navigation">
        Menu
        <i class="fa fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/contact">Contact Us</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Header -->
  <header class="masthead" style="height: 350px; background: #4aa1f3">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h1 class="text-center">
              Contact Us
            </h1>
          </div>
        </div>
      </div>
  </header>

  <article class="text-center">
    <div class="container text-center">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <h3 class="privacy-title" style="font-size: 24px">
            INTERNATIONAL ADDRESS
          </h3>
          <p class="pText text-center" style="font-size: 20px">
            Höhenstraße 74B, 40227 Düsseldorf, Germany
          </p>
          <h3 class="privacy-title" style="font-size: 24px">
            NIGERIAN ADDRESS
          </h3>
          <p class="pText text-center" style="font-size: 20px">
            32, Ayo Fasugba Street, Gateway Estate, Magodo Isheri, Lagos State, Nigeria
          </p>
          <h3 class="privacy-title" style="font-size: 24px">
            CONTACT EMAIL
          </h3>
          <p class="pText text-center" style="font-size: 20px">
            support@kickchatapp.com
          </p>
          <h3 class="privacy-title" style="font-size: 24px">
            GENERAL CONTACT
          </h3>
          <p class="pText text-center" style="font-size: 20px">
            +4915222338270 <br />
            +2347061513136
          </p>
        </div>
      </div>
    </div>
  </article>

  <hr>

  <!-- Bootstrap core JavaScript -->
  <script nonce="<%= nounce %>" src="/vendor/jquery/jquery.min.js"></script>
  <script nonce="<%= nounce %>" src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Custom scripts for this template -->
  <script nonce="<%= nounce %>" src="/js/clean-blog.min.js"></script>

</body>

</html>